In [26]:
import pandas as pd

In [27]:
data=pd.read_csv("/media/ashley/5011e0b1-5fd0-4a93-b3f6-892e8cb26354/IBM Transactions for Anti Money Laundering (AML)/LI-Small_Patterns.csv")
data

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 02:38,1812.0,80279F810,110.0,8000A94C0,10154.74,Australian Dollar,10154.74,Australian Dollar,ACH,1.0
1,2022/09/02 14:36,22595.0,80279F8B0,110.0,8000A94C0,5326.79,Australian Dollar,5326.79,Australian Dollar,ACH,1.0
2,2022/09/03 14:09,1120.0,800E36A50,110.0,8000A94C0,4634.81,Australian Dollar,4634.81,Australian Dollar,ACH,1.0
3,END LAUNDERING ATTEMPT - FAN-IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1368,BEGIN LAUNDERING ATTEMPT - GATHER-SCATTER: Ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,2022/09/10 22:10,15516.0,8026EA390,25788.0,8026EA1A0,3431.61,Euro,3431.61,Euro,ACH,1.0
1370,2022/09/10 15:58,25788.0,8026EA1A0,25788.0,8026EA1A0,4418.15,Euro,4418.15,Euro,ACH,1.0
1371,END LAUNDERING ATTEMPT - GATHER-SCATTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data.head(10)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 02:38,1812.0,80279F810,110.0,8000A94C0,10154.74,Australian Dollar,10154.74,Australian Dollar,ACH,1.0
1,2022/09/02 14:36,22595.0,80279F8B0,110.0,8000A94C0,5326.79,Australian Dollar,5326.79,Australian Dollar,ACH,1.0
2,2022/09/03 14:09,1120.0,800E36A50,110.0,8000A94C0,4634.81,Australian Dollar,4634.81,Australian Dollar,ACH,1.0
3,END LAUNDERING ATTEMPT - FAN-IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BEGIN LAUNDERING ATTEMPT - FAN-IN: Max 8-degr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022/09/01 03:17,3671.0,801BF8E70,2557.0,8016B3750,8099.96,Euro,8099.96,Euro,ACH,1.0
7,2022/09/01 06:27,15.0,80074C7E0,2557.0,8016B3750,10468.56,Euro,10468.56,Euro,ACH,1.0
8,2022/09/01 10:04,2557.0,80107C9A0,2557.0,8016B3750,10270.07,Euro,10270.07,Euro,ACH,1.0
9,2022/09/02 06:35,12.0,800A9B180,2557.0,8016B3750,15645.21,Euro,15645.21,Euro,ACH,1.0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Timestamp           1256 non-null   object
 1   From Bank           1023 non-null   float64
 2   Account             1023 non-null   object
 3   To Bank             1023 non-null   float64
 4   Account.1           1023 non-null   object
 5   Amount Received     1023 non-null   float64
 6   Receiving Currency  1023 non-null   object
 7   Amount Paid         1023 non-null   float64
 8   Payment Currency    1023 non-null   object
 9   Payment Format      1023 non-null   object
 10  Is Laundering       1023 non-null   float64
dtypes: float64(5), object(6)
memory usage: 118.0+ KB

In [30]:
data.describe()

,From Bank,To Bank,Amount Received,Amount Paid,Is Laundering
count,1023.000000,1023.000000,1.023000e+03,1.023000e+03,1023.0
mean,9685.884653,11114.734115,3.921572e+06,3.921572e+06,1.0
std,28795.301049,31987.075561,6.716403e+07,6.716403e+07,0.0
min,0.000000,0.000000,6.000000e-02,6.000000e-02,1.0
25%,20.000000,20.000000,4.311585e+03,4.311585e+03,1.0
50%,1217.000000,1231.000000,9.175320e+03,9.175320e+03,1.0
75%,11047.000000,11495.000000,1.471589e+04,1.471589e+04,1.0
max,238669.000000,249331.000000,1.927898e+09,1.927898e+09,1.0

In [31]:
cleaned_LI_small_patterns=data.dropna()

In [32]:
print(cleaned_LI_small_patterns)

             Timestamp  From Bank    Account  To Bank  Account.1  \
0     2022/09/01 02:38     1812.0  80279F810    110.0  8000A94C0
1     2022/09/02 14:36    22595.0  80279F8B0    110.0  8000A94C0
2     2022/09/03 14:09     1120.0  800E36A50    110.0  8000A94C0
6     2022/09/01 03:17     3671.0  801BF8E70   2557.0  8016B3750
7     2022/09/01 06:27       15.0  80074C7E0   2557.0  8016B3750
...                ...        ...        ...      ...        ...
1363  2022/09/14 09:36       27.0  80BF623F0  27009.0  80B880140
1364  2022/09/14 10:06       27.0  80BF623F0  16934.0  805F5B360
1365  2022/09/14 14:10       27.0  80BF623F0    531.0  8057B5070
1369  2022/09/10 22:10    15516.0  8026EA390  25788.0  8026EA1A0
1370  2022/09/10 15:58    25788.0  8026EA1A0  25788.0  8026EA1A0

      Amount Received Receiving Currency  Amount Paid   Payment Currency  \
0            10154.74  Australian Dollar     10154.74  Australian Dollar
1             5326.79  Australian Dollar      5326.79  Australian Dollar
2             4634.81  Australian Dollar      4634.81  Australian Dollar
6             8099.96               Euro      8099.96               Euro
7            10468.56               Euro     10468.56               Euro
...               ...                ...          ...                ...
1363         12499.20          US Dollar     12499.20          US Dollar
1364          3902.74               Euro      3902.74               Euro
1365         15565.88          US Dollar     15565.88          US Dollar
1369          3431.61               Euro      3431.61               Euro
1370          4418.15               Euro      4418.15               Euro

     Payment Format  Is Laundering
0               ACH            1.0
1               ACH            1.0
2               ACH            1.0
6               ACH            1.0
7               ACH            1.0
...             ...            ...
1363            ACH            1.0
1364            ACH            1.0
1365            ACH            1.0
1369            ACH            1.0
1370            ACH            1.0

[1023 rows x 11 columns]

In [33]:
cleaned_LI_small_patterns.head(40)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 02:38,1812.0,80279F810,110.0,8000A94C0,10154.74,Australian Dollar,10154.74,Australian Dollar,ACH,1.0
1,2022/09/02 14:36,22595.0,80279F8B0,110.0,8000A94C0,5326.79,Australian Dollar,5326.79,Australian Dollar,ACH,1.0
2,2022/09/03 14:09,1120.0,800E36A50,110.0,8000A94C0,4634.81,Australian Dollar,4634.81,Australian Dollar,ACH,1.0
6,2022/09/01 03:17,3671.0,801BF8E70,2557.0,8016B3750,8099.96,Euro,8099.96,Euro,ACH,1.0
7,2022/09/01 06:27,15.0,80074C7E0,2557.0,8016B3750,10468.56,Euro,10468.56,Euro,ACH,1.0
8,2022/09/01 10:04,2557.0,80107C9A0,2557.0,8016B3750,10270.07,Euro,10270.07,Euro,ACH,1.0
9,2022/09/02 06:35,12.0,800A9B180,2557.0,8016B3750,15645.21,Euro,15645.21,Euro,ACH,1.0
10,2022/09/03 09:12,21393.0,801271170,2557.0,8016B3750,14139.75,Euro,14139.75,Euro,ACH,1.0
11,2022/09/03 13:45,2175.0,801E25F20,2557.0,8016B3750,6276.26,Euro,6276.26,Euro,ACH,1.0
12,2022/09/03 16:17,20.0,800043BE0,2557.0,8016B3750,1042.63,Euro,1042.63,Euro,ACH,1.0
13,2022/09/03 23:09,22124.0,8011D0180,2557.0,8016B3750,12795.57,Euro,12795.57,Euro,ACH,1.0
17,2022/09/01 03:52,23848.0,801A0BEB0,1835.0,800F963A0,13573.24,Euro,13573.24,Euro,ACH,1.0
18,2022/09/01 05:37,498.0,8013B3270,1835.0,800F963A0,3651.60,Euro,3651.60,Euro,ACH,1.0
19,2022/09/02 03:28,349.0,80049FE00,1835.0,800F963A0,6980.43,Euro,6980.43,Euro,ACH,1.0
20,2022/09/02 17:21,1835.0,800F963A0,12386.0,800F07C90,16003.44,Euro,16003.44,Euro,ACH,1.0
21,2022/09/02 19:24,1835.0,800F963A0,1595.0,8014DDE40,8201.82,Euro,8201.82,Euro,ACH,1.0
22,2022/09/03 11:23,1835.0,800F963A0,224.0,801C56FF0,7648.13,US Dollar,7648.13,US Dollar,ACH,1.0
23,2022/09/04 17:18,1835.0,800F963A0,11.0,800775EE0,9383.90,Euro,9383.90,Euro,ACH,1.0
24,2022/09/05 12:17,1835.0,800F963A0,2514.0,80143C140,9340.49,Euro,9340.49,Euro,ACH,1.0
25,2022/09/06 17:16,1835.0,800F963A0,22086.0,800CD0BE0,18261.63,US Dollar,18261.63,US Dollar,ACH,1.0
29,2022/09/01 05:54,11.0,8001048F0,0.0,8001B1630,3530.20,Euro,3530.20,Euro,ACH,1.0
30,2022/09/01 06:28,0.0,8001B1630,3.0,80033F3B0,3530.20,Euro,3530.20,Euro,ACH,1.0
31,2022/09/01 10:28,3.0,80033F3B0,11.0,8001DC570,4730.57,US Dollar,4730.57,US Dollar,ACH,1.0
32,2022/09/01 14:32,11.0,8001DC570,1768.0,8007F5C20,4139.13,Euro,4139.13,Euro,ACH,1.0
33,2022/09/02 11:51,1768.0,8007F5C20,1231.0,800379FA0,4723.36,US Dollar,4723.36,US Dollar,ACH,1.0
34,2022/09/02 13:43,1231.0,800379FA0,3.0,8001B8080,3849.15,Euro,3849.15,Euro,ACH,1.0
35,2022/09/02 19:00,3.0,8001B8080,1.0,800161140,4070.87,US Dollar,4070.87,US Dollar,ACH,1.0
36,2022/09/03 09:38,1.0,800161140,349.0,800220960,3861.85,US Dollar,3861.85,US Dollar,ACH,1.0
37,2022/09/04 01:02,349.0,800220960,20.0,8001F9760,3551.11,US Dollar,3551.11,US Dollar,ACH,1.0
38,2022/09/04 12:26,20.0,8001F9760,224.0,800123FE0,3271.85,US Dollar,3271.85,US Dollar,ACH,1.0
42,2022/09/01 06:59,26.0,801A29190,1394.0,800853620,4226.58,US Dollar,4226.58,US Dollar,ACH,1.0
43,2022/09/03 12:52,1394.0,800853620,20.0,800914620,3970.01,US Dollar,3970.01,US Dollar,ACH,1.0
44,2022/09/02 04:12,26.0,801A29190,394.0,800606C90,19382.19,US Dollar,19382.19,US Dollar,ACH,1.0
45,2022/09/03 14:24,394.0,800606C90,20.0,800914620,19382.19,US Dollar,19382.19,US Dollar,ACH,1.0
46,2022/09/02 04:30,26.0,801A29190,531.0,800C31170,12052.39,US Dollar,12052.39,US Dollar,ACH,1.0
47,2022/09/04 11:38,531.0,800C31170,20.0,800914620,12052.39,US Dollar,12052.39,US Dollar,ACH,1.0
48,2022/09/03 00:54,26.0,801A29190,1217.0,8001C5BC0,10530.92,US Dollar,10530.92,US Dollar,ACH,1.0
49,2022/09/04 12:41,1217.0,8001C5BC0,20.0,800914620,10530.92,US Dollar,10530.92,US Dollar,ACH,1.0
50,2022/09/03 11:46,26.0,801A29190,13125.0,801B416A0,9741.10,US Dollar,9741.10,US Dollar,ACH,1.0
51,2022/09/04 15:45,13125.0,801B416A0,20.0,800914620,11897.97,US Dollar,11897.97,US Dollar,ACH,1.0

In [34]:
cleaned_LI_small_patterns.to_csv("cleaned_LI_small_patterns.csv", index=False)

In [37]:
cleaned_LI_small_patterns.isna().sum()

Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64